/* The sidenav */
.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 100;
  left: 0;
  background-color: #F2F7FA;
  overflow-x: hidden;
  text-align: center;
}

/* Page content */
.main {
  margin-left: 0px; /* Same as the width of the sidenav */
}

#container {
  width: 70%;
  height: 100%;
  padding-left: 25%;
}

.image-container {
  max-width: 400px;
  max-height: 150px;
  position; absolute;
  margin-left: 200px;
  margin-right: auto;
  text-align: center;
}

.metadata {
  padding-left: 110px;
  padding-top: 10px;
}

#map {
  background: #F1FAFF;
}

.btn-primary {
  color: #52C4F4;
  background-color: #FFFFFF;
  border-color: #52C4F4;
  border: auto;
  padding-left: 2px;
  padding-right: 4px;
  padding-top: auto;
  padding-bottom: auto;
}

.btn-primary:hover {
  color: #fff;
  background-color: #52C4F4;
  border-color: #52C4F4;
}

/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

.w3-container img {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (min-width:551px) {
    .desktop-br {display: inline;}
    .mobile-br {display: none;}
}
@media all and (max-width:550px) {
    .desktop-br {display: none;}
    .mobile-br {display: inline;}
}
